<ion-menu [content]="content" [swipeEnabled]="false" side="right">

  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button menuClose ion-item (click)="openPage('HomePage')">
        <ion-icon item-start md-name md-name="home"></ion-icon>{{ 'APP_HOME' | translate }}
      </button>
      <button menuClose ion-item (click)="openPage('DestinationPage')">
        <ion-icon item-start md-name md-name="airplanemode_active"></ion-icon>{{ 'TABS_1' | translate }}
      </button>
      <button menuClose ion-item (click)="openPage('LacitePage')">
        <img item-start src="assets/icon/cite.png">{{ 'TABS_2' | translate }}
      </button>
      <button menuClose ion-item (click)="openPage('SpacesPage')">
        <ion-icon item-start md-name md-name="crop_square"></ion-icon>{{ 'TABS_3' | translate }}
      </button>
      <button menuClose ion-item (click)="openPage('ServicesPage')">
        <ion-icon item-start md-name md-name="room_service"></ion-icon>{{ 'TABS_4' | translate }}
      </button>
      <button menuClose ion-item (click)="logout()">
        <ion-icon item-start md-name md-name="exit_to_app"></ion-icon>{{ 'APP_LOGOUT' | translate }}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-header [hidden]="currentPage === 'LoginPage' || currentPage === 'FullscreenPage' || (uiHidden && currentPage === 'TabsPage')">

  <ion-navbar>

    <ion-buttons left>
      <button (click)="openPush('FullscreenPage')" ion-button icon-only>
        <img src="assets/icon/movie.png">
      </button>
    </ion-buttons>

    <img (click)="openPage('HomePage')" class="logo" src="assets/img/logo.svg">

    <ion-buttons *ngIf="carrier.count >= 0" right>
      <button (click)="openSync()" ion-button icon-only>
        <ion-icon md-name md-name="sync"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button (click)="openPage('ToolboxPage')" ion-button icon-only><img src="{{ currentPage !== 'ToolboxPage' ? 'assets/icon/toolbox_w.png' : 'assets/icon/toolbox.png' }}"></button>
    </ion-buttons>
    <ion-buttons right>
      <button (click)="openPage('CarrierPage')" ion-button icon-only><img src="{{ currentPage !== 'CarrierPage' ? 'assets/icon/document_carrier_w.png' : 'assets/icon/document_carrier.png' }}"></button>
      <ion-badge *ngIf="carrier.count > 0" item-end>{{ carrier.count }}</ion-badge>
    </ion-buttons>
    <ion-buttons class="flags" right>
      <button (click)="changeLang('fr')" [ngClass]="{'active': user.lang === 'fr'}" ion-button icon-only>
        <img src="assets/icon/flags/france.png">
      </button>
      <button (click)="changeLang('en')" [ngClass]="{'active': user.lang === 'en'}" ion-button icon-only>
        <img src="assets/icon/flags/united-kingdom.png">
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button menuToggle ion-button icon-only><img class="logo" src="assets/icon/menu.png"></button>
    </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-nav pinch #content [root]="rootPage"></ion-nav>
