$black-12: rgba(black, 0.12);
$black-36: rgba(black, 0.36);
$black-53: rgba(black, 0.54);
$black-70: rgba(black, 0.7);
$black-87: rgba(black, 0.87);
$light: #f0f0f0;
$primary-dark: #1d1533;
$primary-light: #1d1533;
$primary: #1d1533;
$accent-dark: #ef8100;
$accent-light: #f7b44d;
$accent: #f39400;
$success: #4caf50;
$transition: all ease 0.3s;
$warn-dark: #ae071c;
$warn-light: #d15467;
$warn: #bd0a26;

/* POINTS */
$gala: #880e4f;
$hotel1: #a087b2;
$hotel2: #8c80af;
$hotel3: #b3649a;
$hotel4: #7e518f;
$hotel5: #1d1533;
$must-see: #263238;
$other: $black-53;
$pre-post-tour: $accent;
