ion-stars {
  display: flex;
  ion-icon[md-name] {
    background: none !important;
    color: darken($light, 15) !important;
    font-size: 18px;
    height: 18px !important;
    width: 16px !important;
    &.star {
      color: $accent !important;
    }
  }
}
