<ion-content padding>

  <img class="filigram mini left" src="assets/icon/filigram.png">

  <div class="actions" *ngIf="carrierService.currentUser.carriers">
    <div class="rounded">
      <ion-select (ionChange)="changeUser(user)" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}">
        <ion-option *ngFor="let user of afsService.users" [value]="user.email">{{ user.firstname }} {{ user.lastname }}</ion-option>
      </ion-select>
    </div>
    <button class="new" (click)="carrierService.newCarrier()" ion-button color="primary" round>
      <ion-icon md-name md-name="add"></ion-icon>
    </button>
  </div>

  <div class="space-header">
    <img src="assets/icon/lacite.png">
    <h2>{{ 'CARRIERPAGE_TITLE' | translate }}</h2>
  </div>

  <div class="carrier" *ngIf="carrierService.currentUser.carriers">
    <app-expandable *ngFor="let carrier of carrierService.currentUser.carriers.slice(0, limitNb); let i = index" [lock]="carrier.lock" [note]="carrier.note" [files]="carrier.files" [date]="carrier.creationDate" (fileDeleted)="deleteFile($event, i)" (carrierDeleted)="deleteCarrier(i)" (carrierEdited)="editCarrier(i)" (carrierSended)="sendCarrier(i) " (carrierLocked)="lockCarrier(i) " [title]="carrier.title "></app-expandable>
  </div>

  <div class="button-container">
    <button *ngIf="carrierService.currentUser.carriers.length > 4 && limitNb < carrierService.currentUser.carriers.length" (click)="loadMore()" ion-button color="primary" round>{{ 'CARRIER_MORE' | translate }}
      <ion-icon md-name md-name="expand_more"></ion-icon>
    </button>
  </div>

</ion-content>
