map {
  display: block;
  height: 100%;
  padding-right: 50px;
  position: relative;
  .map {
    background-image: url("../assets/map/map.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0;
    height: 100%;
    padding: 0;
    position: static;
    width: 100%;
  }
  .networkWarning {
    background-color: #f39400;
    color: white;
    padding: 5px 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1;
  }
  .map-box {
    height: 100%;
    img {
      width: 30px;
    }
    .mapboxgl-popup-content {
      padding-bottom: 5px;
      div {
        text-align: center;
        width: 200px;
        img {
          border-radius: 3px 3px 0 0;
          margin-left: -10px;
          margin-top: -10px;
          max-width: initial;
          width: 220px;
        }
        h4 {
          font-size: 18px;
          font-weight: 400;
          margin: 4px 0;
        }
        & > div {
          display: flex;
          justify-content: center;
          span {
            margin-right: 10px;
          }
        }
        .mat-body-1 {
          margin: 2px;
        }
      }
    }
    .train {
      background-color: $warn;
      border-radius: 8px;
      color: white;
      font-size: 12px;
      font-weight: 700;
      padding: 2px 6px;
    }
    .cite {
      width: 35px;
    }
  }
  ion-icon[md-name] {
    align-items: center;
    border-radius: 25%;
    color: white;
    display: flex;
    font-size: 16px;
    justify-content: center;
    min-height: 24px;
  }
  .mapboxgl-marker {
    & > div {
      display: flex;
      ion-icon[md-name]:nth-child(1) {
        background-color: $must-see;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }
      ion-icon[md-name]:nth-child(2) {
        background-color: $gala;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
    }
    ion-icon[md-name] {
      height: 30px;
      width: 30px;
    }
  }
  .filters {
    background-color: white;
    border-radius: 0 6px 6px 0;
    box-shadow: 20px 20px 30px 0 rgba(0, 0, 0, 0.09);
    margin-bottom: 0;
    padding: 16px;
    position: absolute;
    top: calc(50% - 220px);
    transition: $transition;
    width: 232px;
    &.close {
      width: 0;
      .item-block {
        border-bottom: none;
      }
      .icon[md-name="arrow_left"] {
        transform: rotate(180deg);
      }
    }
    .toggle-filters {
      background-color: transparent;
      position: absolute;
      right: -46px;
      top: 10%;
      z-index: 1;
      .icon {
        color: $black-87;
        font-size: 80px;
        opacity: 1;
        transition: $transition;
      }
    }
    ion-icon[md-name] {
      opacity: 0.25;
      transition: $transition;
    }
    & > .item-block {
      border-bottom: 1px solid #dedede;
      &:last-of-type {
        border: none;
      }
      .item-inner {
        border: none;
        .label {
          font-size: 14px;
          margin: 0;
        }
      }
      &:nth-child(2) .icon {
        background-color: $must-see;
      }
      &:nth-child(3) .icon {
        border: 1px solid $black-87;
        color: $black-87;
      }
      &:nth-child(5) .icon {
        background-color: $gala;
      }
      &:nth-child(6) .icon {
        background-color: $pre-post-tour;
      }
      &:nth-child(7) .icon {
        background-color: $other;
      }
    }
    .item-block.active {
      ion-icon[md-name] {
        opacity: 1;
      }
      .label {
        font-weight: 700;
      }
    }
    .hotels-filters {
      margin-bottom: 0;
      .item-block {
        padding-left: 24px;
      }
    }
  }
  ion-icon {
    &.hotel {
      &.star1 {
        background-color: $hotel1 !important;
      }
      &.star2 {
        background-color: $hotel2 !important;
      }
      &.star3 {
        background-color: $hotel3 !important;
      }
      &.star4 {
        background-color: $hotel4 !important;
      }
      &.star5 {
        background-color: $hotel5 !important;
      }
    }
    &.must-see {
      background-color: $must-see;
    }
    &.pre-post-tour {
      background-color: $pre-post-tour;
    }
    &.gala {
      background-color: $gala;
    }
    &.other {
      background-color: $other;
    }
  }
}
