:host {
  .expand-wrapper {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.06);
    margin: 0 auto 16px auto;
    padding: 16px 32px;
    position: relative;
    transition: 0.2s linear;
    width: 70%;

    .header {
      align-items: center;
      display: flex;
      justify-content: space-between;

      h4 {
        font-size: 18px;
        font-weight: 700;
        margin: 0 16px 0 0;
      }

      .locker {
        margin-right: 8px;
        position: relative;
        top: -2px;
      }

      .lock {
        color: var(--black-36);
      }

      .unlock {
        color: var(--success);
      }

      .space {
        margin: auto;
      }

      .date {
        color: var(--primary);
      }

      .send-button {
        background-color: #51519c;
        margin-right: 16px;
      }

      .arrow {
        transition: var(--transition);
        width: 20px;
      }
    }

    .actions {
      background-color: #51519c;
      border-radius: 10px 0 0 10px;
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      position: absolute;
      right: auto;
      top: calc(50% - 60px);

      button {
        background-color: transparent;
        height: 40px;
        min-height: auto;
        padding: 0;
        width: 40px;

        .item-inner {
          border: none;
          height: 100%;
          padding: 0;

          .label {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;

            img {
              width: 16px;
            }
          }
        }
      }
    }

    .documents {
      display: flex;
      flex-wrap: wrap;
      min-height: 42px;

      .item {
        padding-left: 0;
        width: auto;

        .item-inner {
          border: none;

          .label {
            align-items: center;
            display: flex;
            margin-bottom: 0;

            a {
              color: grey;
              font-weight: 300;
              margin-right: 4px;
              text-decoration: underline;
            }

            .icon {
              font-size: 1.4em;
              font-weight: bold;

              &.image,
              &.url {
                margin-right: 4px;
              }
            }
          }
        }
      }
    }

    .note {
      border: 1px solid var(--black-36);
      padding: 16px;

      h5 {
        color: var(--primary);
        font-size: 16px;
        margin-bottom: 4px;
      }

      p {
        font-size: 16px;
        margin: 0;
      }
    }

    &.collapsed {
      height: 70px;

      .actions {
        left: 0;
        opacity: 0;
        width: 0;
      }
    }

    &.open {
      height: auto;

      .arrow {
        transform: rotate(180deg);
      }

      .actions {
        left: -52px;
        opacity: 1;
        transition: var(--transition) 250ms;
        width: 52px;
      }
    }
  }

  &:last-child {
    display: block;
    margin-bottom: 40px;
  }
}
