<ion-content padding>

  <div *ngIf="currentPage === 'accessibility' || currentPage === 'destination_gallery' || currentPage === 'must-see' || currentPage === 'econ' || currentPage === 'hebergements' || currentPage === 'gala' || currentPage === 'charter' || currentPage === 'pre-post-tour'">

    <div class="keys {{ currentPage }}">
      <div class="key" *ngFor="let key of (user.lang === 'fr' ? keys : englishKeys)">
        <div class="number">{{ key.number }}</div>
        <div class="string">{{ key.string }}</div>
      </div>
    </div>

    <div *ngIf="user.lang === 'fr' ? documentsNb.fr > 0 : documentsNb.en > 0" class="actions">
      <div (click)="goToMap(currentPage)" *ngIf="currentPage === 'accessibility' || currentPage === 'must-see' || currentPage === 'econ' || currentPage === 'hebergements' || currentPage === 'gala' || currentPage === 'pre-post-tour'" class="map"><img src="assets/icon/destination/map2.png"></div>
      <button class="send-button" (click)="documentsOpen = documentsOpen ? !documentsOpen : true" [ngClass]="{ 'active': documentsOpen }" *ngIf="documents.length" ion-button color="primary" round>
        <img class="send" src="assets/icon/send.png">
        {{ 'DESTINATION_SEND' | translate }}
        <img class="icon" src="assets/icon/arrow_b.png">
      </button>
    </div>

    <ion-list class="documentsList" *ngIf="documentsOpen">
      <div class="list" *ngFor="let document of documents | orderBy: 'name' : false : true">
        <ion-item *ngIf="document.language.toLowerCase() === user.lang">
          <a [href]="document.downloadUrl" target="_blank" (click)="openDocument($event, document)">{{ document.name }}</a>
          <img (click)="carrier.addToCarrier(document)" class="icon" src="assets/icon/send.png">
        </ion-item>
      </div>
    </ion-list>

    <ion-slides *ngIf="currentPage !== 'accessibility'" (ionSlideDidChange)="slideChanged()" pager>

      <ion-slide *ngFor="let photo of photos">
        <div (press)="photoPressed(photo)" class="image" [ngStyle]="{'background-image':'linear-gradient(
          -180deg, transparent 80%, rgba(40, 40, 40, 0.8) 100%), url(' + (photo.localUrl || photo.downloadUrl) + ')'}"></div>
        <div class="legend">
          <p>{{ user.lang === 'fr' ? photo.legend1 : photo.englishLegend1 }}</p>
          <span *ngIf="user.lang === 'fr' ? photo.legend2 : photo.englishLegend2">|</span>
          <p *ngIf="user.lang === 'fr' ? photo.legend2 : photo.englishLegend2">{{ user.lang === 'fr' ? photo.legend2 : photo.englishLegend2 }}</p>
        </div>
      </ion-slide>

      <ion-slide *ngIf="currentPage === 'charter'">
        <video #video1 preload="auto" loop playsinline>
          <source src="assets/video/chartre.mov">
        </video>
      </ion-slide>

    </ion-slides>

    <video #video2 *ngIf="currentPage === 'accessibility'" preload="auto" autoplay playsinline>
      <source src="assets/video/carte-cite.mov">
    </video>
    <div *ngIf="!showVideo && currentPage === 'accessibility'" class="background"></div>

  </div>

  <map [option]="mapOption" *ngIf="currentPage === 'Map'"></map>

  <div class="right-menu">
    <li [ngClass]="{ 'active': currentPage === 'accessibility' }" (click)="goToOtherPage('accessibility')">
      <img class="menu-icon" src="assets/icon/destination/plane.png">
      <div class="category-hover">
        <p><span>{{ 'DESTINATION_TITLE1' | translate }}</span></p>
      </div>
    </li>
    <li [ngClass]="{ 'active': currentPage === 'Map' }" (click)="goToOtherPage('Map')">
      <img class="menu-icon" src="assets/icon/destination/map.png">
      <div class="category-hover">
        <p><span>{{ 'DESTINATION_TITLE2' | translate }}</span></p>
      </div>
    </li>
    <li [ngClass]="{ 'active': currentPage === 'econ' }" (click)="goToOtherPage('econ')">
      <img class="menu-icon" src="assets/icon/destination/economy.png">
      <div class="category-hover">
        <p><span>{{ 'DESTINATION_TITLE3' | translate }}</span></p>
      </div>
    </li>
    <li [ngClass]="{ 'active': currentPage === 'must-see' }" (click)="goToOtherPage('must-see')">
      <img class="menu-icon" src="assets/icon/destination/elephant.png">
      <div class="category-hover">
        <p><span>{{ 'DESTINATION_TITLE4' | translate }}</span></p>
      </div>
    </li>
    <li [ngClass]="{ 'active': currentPage === 'hebergements' }" (click)="goToOtherPage('hebergements')">
      <img class="menu-icon" src="assets/icon/destination/sofa.png">
      <div class="category-hover">
        <p><span>{{ 'DESTINATION_TITLE5' | translate }}</span></p>
      </div>
    </li>
    <li [ngClass]="{ 'active': currentPage === 'gala' }" (click)="goToOtherPage('gala')">
      <img class="menu-icon" src="assets/icon/destination/gala.png">
      <div class="category-hover">
        <p><span>{{ 'DESTINATION_TITLE6' | translate }}</span></p>
      </div>
    </li>
    <li [ngClass]="{ 'active': currentPage === 'charter' }" (click)="goToOtherPage('charter')">
      <img class="menu-icon" src="assets/icon/destination/camera.png">
      <div class="category-hover">
        <p><span>{{ 'DESTINATION_TITLE7' | translate }}</span></p>
      </div>
    </li>
    <li [ngClass]="{ 'active': currentPage === 'pre-post-tour' }" (click)="goToOtherPage('pre-post-tour')">
      <img class="menu-icon" src="assets/icon/destination/sign.png">
      <div class="category-hover">
        <p><span>{{ 'DESTINATION_TITLE8' | translate }}</span></p>
      </div>
    </li>
  </div>

</ion-content>
