<ion-header
  [hidden]="currentPage === 'LoginPage' || currentPage === 'FullscreenPage' || (uiHidden && currentPage === 'TabsPage')">

  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="openPage('fullscreen')">
        <ion-icon name="film-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

    <img (click)="openPage('/')" [src]="'../../../../assets/img/logo_'+lang+'.svg'"
         class="logo">

    <ion-buttons slot="end">
      <ion-button (click)="openSync()">
        <ion-icon name="sync-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <ion-buttons slot="end">
       <ion-button (click)="openPage('toolbox')">
         <ion-icon [style.color]=" currentPage !== 'toolbox' ? '#1D1533' : '#eb5e57'"
                   name="document-text-outline" slot="icon-only"></ion-icon>
       </ion-button>
     </ion-buttons>-->
    <!--<ion-buttons slot="end">
      <ion-button (click)="openPage('carrier')">
        <ion-icon [style.color]=" currentPage !== 'carrier' ? '#1D1533' : '#eb5e57'" name="paper-plane-outline"
                  slot="icon-only"></ion-icon>
      </ion-button>
      <ion-badge *ngIf="carrier.count > 0" slot="end">{{ carrier.count }}</ion-badge>
    </ion-buttons>-->
    <ion-buttons class="flags" slot="end">
      <ion-button (click)="changeLang('fr')" [class]="{'active': user.lang === 'fr'}">
        <img slot="icon-only" src="assets/icon/flags/france.png">
      </ion-button>
      <ion-button (click)="changeLang('en')" [class]="{'active': user.lang === 'en'}">
        <img slot="icon-only" src="assets/icon/flags/united-kingdom.png">
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openMenu()">
        <ion-icon name="reorder-three-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>
