
.scroll-content {
  background-color: var(--light);
}

.filigram.mini {
  width: 18%;
}

.space-header {
  h2 {
    margin-top: 11px;
  }
}

.new {
  .icon {
    font-size: 24px;
    margin-left: -24px;
    margin-right: -24px;
    width: auto;
  }
}

.carrier {
  margin-top: 2%;

  & > *:last-child {
    margin-bottom: 30px;
  }
}

.actions {
  margin-right: 5%;
  margin-top: 5%;
  padding: 0;

  .rounded {
    background-color: white;
    margin: 0 16px 0;
    max-width: 100%;

    .select {
      align-items: center;
      display: flex;
      max-width: 100%;
      padding: 16px 24px;

      .select-text {
        font-size: 15px;
        font-weight: 700;
      }
    }
  }

  .button-round {
    background-color: var(--primary-light);
    margin: 0;
  }
}

.button-container {
  text-align: center;

  button {
    margin: 0 auto 40px auto;
  }
}

