
ion-content {
  div {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


  .success,
  .new {
    color: var(--success);
  }

  .delete {
    color: var(--warn);
  }

  img {
    bottom: 20%;
    position: absolute;
  }

  h1,
  h2 {
    margin: 0;
  }

  h2:first-of-type {
    margin-top: 2%;
  }

}

