<app-header></app-header>
<ion-content>

  <div class="keys">
    <div *ngFor="let key of (user.lang === 'fr' ? keys : englishKeys)" class="key">
      <div class="number">{{ key.number }}</div>
      <div class="string">{{ key.string }}</div>
    </div>
  </div>

  <div *ngIf="user.lang === 'fr' ? documentsNb.fr > 0 : documentsNb.en > 0" class="actions">
    <ion-button (click)="documentsOpen = documentsOpen ? !documentsOpen : true" *ngIf="documents.length"
                [ngClass]="{ 'active': documentsOpen }" class="send-button round" color="primary">
      <img class="send" src="assets/icon/send.png">
      {{ 'DESTINATION_SEND' | translate }}
      <img class="icon" src="assets/icon/arrow_b.png">
    </ion-button>
  </div>

  <ion-list *ngIf="documentsOpen" class="documentsList">
    <div *ngFor="let document of documents | orderBy: 'name' : false : true" class="list">
      <ion-item *ngIf="document.language.toLowerCase() === user.lang" [lines]="'none'">
        <ion-label>
          <a (click)="openDocument($event, document)" [href]="document.localUrl" slot="start"
             target="_blank">{{ document.name }}</a>
        </ion-label>
        <ion-img (click)="carrier.addToCarrier(document)" class="icon" slot="end" src="assets/icon/send.png"
        ></ion-img>
      </ion-item>
    </div>
  </ion-list>

  <swiper (slideChange)="slideChanged($event)" (swiper)="setSwiperInstance($event) " [config]="{autoHeight: true}"
          class="slide-zoom">

    <ng-template *ngFor="let photo of photos" swiperSlide>
      <div (press)="photoPressed(photo)"
           [ngStyle]="{'background-image':'linear-gradient(-180deg, transparent 80%, rgba(40, 40, 40, 0.8) 100%), url(' + photo.localUrl + ')'}"
           class="image"></div>
      <div class="legend">
        <p>{{ user.lang === 'fr' ? photo.legend1 : photo.englishLegend1 }}</p>
        <span *ngIf="user.lang === 'fr' ? photo.legend2 : photo.englishLegend2">|</span>
        <p
          *ngIf="user.lang === 'fr' ? photo.legend2 : photo.englishLegend2">{{ user.lang === 'fr' ? photo.legend2 : photo.englishLegend2 }}</p>
      </div>
    </ng-template>

  </swiper>
</ion-content>
