.scroll-content {
  background: var(--light) !important;
  --background: var(--light) !important;
  --overflow: unset;
  overflow: unset;
}

.filigram.mini {
  width: 18%;
}

.lacite-map {
  display: block;
  height: 624px;
  margin-left: calc(50% - 200px);
  margin-top: -10vh;
  position: relative;
  width: 632px;

  img {
    height: 624px;
    width: 632px;
  }

  .ext {
    height: auto;
    object-fit: scale-down;
    position: absolute;
    width: 75px;

    &.ext1 {
      left: 109px;
      top: 161px;
    }

    &.ext2 {
      bottom: 158px;
      right: 100px;
    }
  }

  map {
    display: none;
  }
}

.right-menu {
  justify-content: space-around;
}
