<div #expandWrapper class='expand-wrapper' [ngClass]="{'open': expanded, 'collapsed': !expanded}">
  <div class="header">
    <ion-icon *ngIf="lock" class="locker lock" md-name md-name="lock"></ion-icon>
    <ion-icon *ngIf="!lock" class="locker unlock" md-name md-name="lock_open"></ion-icon>
    <h4>{{ title | titlecase }}</h4>
    <p class="date">{{ date | date }}</p>
    <div class="space"></div>
    <button (click)="sendCarrier()" [disabled]="!files?.length || network?.type === 'none'" class="send-button" ion-button color="primary" round>
      <img class="send" src="assets/icon/send.png">
      {{ 'DESTINATION_SEND' | translate }}
    </button>
    <img *ngIf="files" (click)="onClick()" class="arrow" src="assets/icon/arrow_black.png">
  </div>
  <ion-list *ngIf="files" class="actions">
    <button (click)="lockCarrier()" ion-item icon-only>
      <img class="send" src="assets/icon/actions/lock.png">
    </button>
    <button (click)="editCarrier()" *ngIf="!lock && (files.length > 0 || note.length > 0)" ion-item icon-only>
      <img class="send" src="assets/icon/actions/pen.png">
    </button>
    <button (click)="deleteCarrier()" *ngIf="!lock" ion-item icon-only>
      <img class="send" src="assets/icon/actions/trash.png">
    </button>
  </ion-list>
  <ion-list *ngIf="expanded && files" class="documents">
    <ion-item *ngFor="let file of files">
      <ion-icon class="image" *ngIf="file.title" md-name md-name="photo"></ion-icon>
      <ion-icon class="url" *ngIf="file.url" md-name md-name="web"></ion-icon>
      <a *ngIf="!file.url" target="_blank" [href]="file.downloadUrl" (click)="openDocument($event, file)">{{ (user.lang === 'fr' ? file.title : file.englishTitle) || file.name }} {{ (file.title && file.legend1 && user.lang === 'fr') ? ('- ' + file.legend1) : '' }} {{ (file.englishTitle && file.englishLegend1 && user.lang !== 'fr') ? ('- ' + file.englishLegend1) : '' }}</a>
      <a *ngIf="file.url" target="_blank" [href]="file.url">{{ file.url.replace('http://', '').replace('https://', '') }}</a>
      <ion-icon *ngIf="!lock" (click)="deleteFile(file)" md-name md-name="close"></ion-icon>
    </ion-item>
  </ion-list>
  <div class="note" *ngIf="note && expanded">
    <h5>{{ 'CARRIER_NOTE' | translate }}</h5>
    <p>{{ note }}</p>
  </div>
</div>
