/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
//@import '~@ionic/angular/css/ionic-swiper';
@import '~mapbox-gl/dist/mapbox-gl.css';

@import "~swiper/swiper.min.css";
// @import "~swiper/scss/autoplay";
// @import "~swiper/scss/keyboard";
// @import "~swiper/scss/pagination";
// @import "~swiper/scss/scrollbar";
// @import "~swiper/scss/zoom";

// Fonts
// --------------------------------------------------
@font-face {
  font-family: Futura;
  font-weight: 300;
  src: url(assets/fonts/FuturaStd-Medium.otf) format("truetype");
}

@font-face {
  font-family: Gunnar;
  font-weight: 300;
  src: url(assets/fonts/Gunnar-Regular.ttf) format("truetype");
}

@font-face {
  font-family: Sansation;
  font-weight: 300;
  src: url(assets/fonts/Sansation_Light.ttf) format("truetype");
}

@font-face {
  font-family: Sansation;
  font-weight: 400;
  src: url(assets/fonts/Sansation_Regular.ttf) format("truetype");
}

@font-face {
  font-family: Sansation;
  font-weight: 700;
  src: url(assets/fonts/Sansation_Bold.ttf) format("truetype");
}


@keyframes width-menu {
  0% {
    width: 0;
  }
  75% {
    width: 75px;
  }
  100% {
    width: 50px;
  }
}

* {
  font-family: 'Gunnar' !important;
}

.toolbar.toolbar-ios {
  height: 76px !important;
}

.scroll-content {
  padding: 0 !important;

  & > div:first-child:not(.right-menu):not(.keys):not(.actions) {
    height: 100%;
    width: 100%;
  }
}

ion-nav {
  .scroll-content,
  .fixed-content {
    margin-top: 63px !important;
  }

  .hidden {
    .scroll-content,
    .fixed-content {
      margin: 0 !important;
    }
  }
}

.swiper-pagination {
  display: none;
}

.alert-button-group button:last-child span {
  color: var(--warn);;
}

ion-toast.error {
  .toast-wrapper {
    background-color: var(--warn);;
  }
}

@media not all and (min-height: 600px) and (min-width: 768px) {
  ion-modal ion-backdrop {
    visibility: visible;
  }
}

ion-backdrop {
  background-color: rgba(#4a4a57, 0.8);
  opacity: 1 !important;
}

video {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.rounded {
  box-shadow: 20px 20px 30px 0 rgba(0, 0, 0, 0.12);
  border-radius: 30px;
  margin-bottom: 5%;
  max-width: 80%;

  .input-wrapper {
    position: relative;

    ion-label {
      color: var(--black-53);
      margin-right: 0;
      min-width: 110px;
      max-width: 110px;
    }

    .select-icon {
      position: absolute;
      right: 22px;
      top: 28%;

      .select-icon-inner {
        color: var(--black-53);
      }
    }

    .select {
      padding: 0;
    }
  }
}

.space-header {
  align-items: center;
  display: flex;
  margin: 5% 0 0 15%;

  img {
    margin-right: 2%;
    object-fit: contain;
    width: 8%;
  }
}

.modal-css {
  .modal-wrapper {
    height: 60%;
    left: calc(50% - (60% / 2));
    position: relative;
    top: calc(50% - (60% / 2));
    width: 60%;

    & > * > .content {
      background-color: var(--light);
    }

    &:after {
      background-repeat: no-repeat;
      background-image: url("assets/icon/filigram.png");
      background-size: 100%;
      background-size: contain;
      content: "";
      height: 220px;
      position: absolute;
      width: 220px;
    }
  }

}


.menu-inner {
  .toolbar-title {
    padding: 0;
  }

  .item {
    &:first-child .label {
      margin-top: 16px;
    }

    .icon {
      position: relative;
      top: -2px;
    }

    img {
      max-width: 28px;
      position: relative;
      top: -2px;

      & + .item-inner {
        margin-left: 24px;
      }
    }
  }
}

.filigram {
  position: absolute;
  width: 33%;
  z-index: 1;

  &.mini {
    width: 28%;
  }

  &.left {
    left: 0;
    top: 0;
  }

  &.right {
    bottom: 0;
    right: 0;

    &.mini {
      width: 18%;
    }
  }
}

.button-round {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-weight: 300;
  margin-top: 6%;
  --padding-end: 40px !important;
  --padding-start: 40px !important;
  text-transform: initial;
  border-radius: 50px !important;
  height: 50px;

  .icon {
    margin-left: 12px;
    width: 8px;
  }
}

.slide-zoom {

  width: 100% !important;
  height: 100% !important;

  .swiper-wrapper {
    height: 100% !important;
    width: 100% !important;
  }

  .image {
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
  }

  .legend {
    align-items: center;
    bottom: 16px;
    color: white;
    display: flex;
    left: 32px;
    position: absolute;

    p {
      font-size: 16px;
      font-weight: 300;
      margin-bottom: 8px;
      margin-right: 16px;

      p:last-child {
        color: blue;
        font-size: 14px !important;
      }
    }

    span {
      margin-right: 16px;
      position: relative;
      top: 3px;
    }
  }
}

.keys {
  display: flex;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  max-width: 80%;
  padding-right: 5%;
  z-index: 2;

  .key {
    align-items: center;
    border-right: 1px solid var(--black-70);
    display: flex;
    font-family: sans-serif;
    margin: 22px 22px 22px 0;
    padding-right: 22px;

    &:first-of-type {
      margin-left: 22px;
    }

    &:last-of-type {
      border: none;
    }

    .number {
      font-weight: 700;
      font-size: 25px;
      margin-right: 8px;
    }

    .string {
      font-size: 15px;
      line-height: 1;
      max-width: 125px;
      width: auto;
    }
  }
}

.actions {
  display: flex;
  align-items: center;
  margin-left: 2%;
  padding: 16px 0;
  position: absolute;
  right: 10%;
  z-index: 2;
}

.map,
.documentsList .icon {
  align-items: center;
  background-color: white;
  border-radius: 50%;
  box-shadow: -10px 0 30px 0 rgba(65, 65, 65, 0.19);
  display: flex;
  height: 40px;
  justify-content: center;
  left: -10px;
  padding: 10px;
  position: relative;
  transition: var(--transition);
  width: 40px;
}

ion-button.send-button {
  background-color: var(--primary-light);
  box-shadow: none;
  margin: 0;
  height: 40px;
  --padding-start: 25px !important;
  --padding-end: 25px !important;
  transition: var(--transition);

  .send {
    height: 20px;
    position: relative;
    left: -15px;
  }

  .icon {
    position: relative;
    right: -15px;
    transition: var(--transition);
    width: 10px;
  }

  &.active {
    background-color: var(--primary);
    border-bottom-right-radius: 0;

    .icon:last-child {
      transform: rotate(180deg);
    }
  }
}

.documentsList {
  position: absolute;
  right: 10%;
  top: 80px;
  z-index: 2;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);

  & > .list {
    &:first-child ion-item {
      border-top-left-radius: 8px;
    }

    &:last-child ion-item {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    ion-item {
      ion-label {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 0;

        a {
          color: var(--black-87);
          font-size: 15px;
          margin-right: 16px;
        }
      }

      ion-img {
        background: #51519c;
        height: 32px;
        position: relative;
        left: 0;
        padding: 6px;
        width: 32px;
      }

    }
  }
}

.right-menu {
  animation: 0.66s ease width-menu;
  background-color: var(--primary-dark);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  padding: 75px 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  z-index: 1;

  li {
    align-items: center;
    background-color: white;
    border-radius: 50%;
    box-shadow: -10px 0 30px 0 rgba(65, 65, 65, 0.19);
    display: flex;
    height: 55px;
    justify-content: center;
    left: -25px;
    padding: 10px;
    position: relative;
    text-align: center;
    transition: var(--transition);
    width: 55px;

    img {
      transition: var(--transition);
    }

    .menu-icon {
      max-height: 28px;
    }

    .category-hover {
      left: -155px;
      position: absolute;
      text-align: right;
      width: 145px;

      p {
        span {
          background-color: white;
          border-radius: 10px;
          color: var(--primary-dark);
          padding: 8px;
        }
      }
    }

    &.active {
      background-color: var(--primary);

      p {
        color: white;
      }

      img {
        filter: brightness(0) invert(1);
      }

      .category-hover {
        display: none;
      }
    }
  }
}

.round {
  --border-radius: 50px !important;
  border-radius: 50px !important;
}

.swiper-wrapper {
  align-items: unset !important;
}
