page-tabs {
  .tabbar {
    height: 48px;
    left: -8px;
    .tab-button {
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.13);
      min-height: 50px;
      position: relative;
      transform: skewX(-15deg);
      .tab-button-text {
        color: $black-87;
        font-size: 18px;
        font-weight: 500;
        position: relative;
        top: 2px;
        transform: skewX(15deg) !important;
      }
      &[aria-selected=true] {
        background-color: $primary;
        .tab-button-text {
          color: white;
        }
        &:last-of-type:after {
          background-color: $primary;
        }
      }
      &:last-of-type {
        overflow: inherit;
        &:after {
          background-color: #f8f8f8;
          content: "";
          height: 97%;
          position: absolute;
          right: -15px;
          width: 20%;
        }
      }
    }
  }
  .hidden .tabbar {
    display: none;
  }
}
